<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mathartsys.demo.dao.TestOrderMapper" >
  <resultMap id="BaseResultMap" type="com.mathartsys.demo.po.TestOrder" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, product_id, price, order_time
  </sql>
  <select id="selectProductYear" resultType="String" >
    select
    year(order_time)
    from testorder
    where product_id = #{productId,jdbcType=INTEGER} group by year(order_time)
  </select>
  <select id="selectMonthSalesByYear" resultType="map"  >
    select
    month(order_time) as m ,count(*) as sales
    from testorder
    where product_id = #{productId,jdbcType=INTEGER} and #{y,jdbcType=INTEGER} = year(order_time) group by month(order_time)
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from testorder
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from testorder
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mathartsys.demo.po.TestOrder" >
    insert into testorder (order_id, product_id, price, 
      order_time)
    values (#{orderId,jdbcType=INTEGER}, #{productId,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{orderTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertByBatch" parameterType="java.util.List">
    insert into testorder (order_id, product_id, price,
    order_time)
    values
    <foreach item="item" index="index" collection="list" separator=",">
      (
      #{item.orderId},
      #{item.productId},
      #{item.price},
      #{item.orderTime}
      )
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.mathartsys.demo.po.TestOrder" >
    insert into testorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mathartsys.demo.po.TestOrder" >
    update testorder
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mathartsys.demo.po.TestOrder" >
    update testorder
    set product_id = #{productId,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      order_time = #{orderTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>